<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adauga detalii vehicul </title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<form th:object="${vehicul}" th:action="@{/vehicul/info/new}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Detalii Vehicul</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Marca:</label>
                        <input type="text" class="form-control" th:field="*{detalii_vehicul.marca}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Model:</label>
                        <input type="text" class="form-control" th:field="*{detalii_vehicul.model}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Numar roti:</label>
                        <input type="text" class="form-control" th:field="*{detalii_vehicul.nr_roti}"/>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>