<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Client</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color:lightgray;">
                        <h1 class="panel-title" >Detalii Client</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Nr telefon:</p>
                                <p th:text="${client.detalii_client!=null ? client.detalii_client.nr_telefon:''}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Adresa:</p>
                                <p th:text="${client.detalii_client!=null ? client.detalii_client.adresa:''}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <a class="btn btn-primary" role="button" th:href="@{'/client/info/new'}">adauga detalii</a>
        </div>
    </div>
</div>
</body>
</html>